# Don't format these folders
node_modules
.next
build
dist
.husky

# Don't format these files
package-lock.json
.env
.env.local

# Don't format images and icons
public/**/*.svg
public/**/*.png
public/**/*.jpg