@import 'tailwindcss';

:root {
  --background: #f4f4f9;
  --foreground: #171717;
  --font-bricolage: 'Bricolage Grotesque', sans-serif;
  --color-primary: #202124;
  --color-secondary: #e63946;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-bricolage);
  /* font-family: Arial, Helvetica, sans-serif; */
}
